# Sphinx documentation
docs/
src/reference/api/
src/user/**/*_copy*
src/about/people.md

# Python scripts
__pycache__

# Bonsai folder except installation files
.bonsai
!.bonsai/Bonsai.config
!.bonsai/NuGet.config
!.bonsai/setup.cmd
!.bonsai/setup.ps1

# Bonsai .layout files
*.layout
