[submodule "aeon_mecha"]
	path = aeon_mecha
	url = https://github.com/SainsburyWellcomeCentre/aeon_mecha
	branch = sfn2024
[submodule "aeon_api"]
	path = aeon_api
	url = https://github.com/SainsburyWellcomeCentre/aeon_api.git
	branch = main
[submodule "aeon_experiments"]
	path = aeon_experiments
	url = https://github.com/SainsburyWellcomeCentre/aeon_experiments
	branch = main
[submodule "aeon_acquisition"]
	path = aeon_acquisition
	url = https://github.com/SainsburyWellcomeCentre/aeon_acquisition
	branch = main
