# minimum dependencies to build aeon_mecha docs
dotmap
matplotlib
opencv-python
pandas 
plotly
harp-python

linkify-it-py
myst-nb
pydata-sphinx-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
