# minimum dependencies to build aeon_api docs
dotmap
matplotlib
opencv-python
pandas 
plotly
harp-python
pandas-stubs

linkify-it-py
myst-nb
pydata-sphinx-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
sphinx-sitemap
sphinx-reredirects
sphinx-notfound-page