/* ==========================
   1. Global Variables
   ========================== */
html[data-theme=dark] {
  --pst-color-primary: #f0b810;
  --pst-color-secondary: #2B8D6B;
  --pst-color-link: var(--pst-color-primary);
  /*--pst-color-secondary-bg: #574FA9;*/
}

html[data-theme=light] {
  --pst-color-primary: #3f5d86;
  --pst-color-secondary: #453F86;
  --pst-color-link: var(--pst-color-primary);
  /*--pst-color-secondary-bg: #37B489;*/
}

/* ==========================
   2. Layout Styles
   ========================== */
.things-in-a-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ==========================
   3. Component Styles
   ========================== */

/* Sponsor Section */
.sponsor {
  height: 100px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.img-sponsor {
  height: 50px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
  
/* Module Card */
.module-card {
  height: 30vh;
}

.module-card .sd-card-body {
  height: 20%;
}

.module-card .sd-card-img-bottom { 
  height: 80%;
}

/* ==========================
   4. Image Styles
   ========================== */
.sd-card-img-bottom {
  object-fit: contain;
  padding: 1rem !important;
}

.sd-img-bottom-small {
  min-height: 8vh;
  height: 8vw; 
}

img.img-hardware-steps {
  max-height: 40vh;
}

img.img-hardware-main {
  max-height: 45vh;
}

/* ==========================
   5. Typography
   ========================== */
.acquisition-api-table code {
  color: var(--pst-color-inline-code-links);
}

figure.caption-hardware-steps figcaption p {
  text-align: center;
}